%h1= @note.title
- @note.tags.each do |t|
	%h2= link_to '#' + t.name, '/notes/hashtag/' + t.name
%p= @note.content

= link_to "All Notes", notes_path
= link_to "Edit", edit_note_path(@note)
= link_to "Delete", note_path(@note), method: :delete, data: { confirm: "Are you sure?"}